@font-face {
  font-family: 'MyFont';
  src:
    url('./Roboto-Medium.ttf') format('roberto'),
    url('./Roboto-Regular.ttf') format('roberto-r');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./bbc.png');
  font-family: 'MyFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
