body {
  background-color: rgb(246, 246, 246);
}

.lists_container {
  background-color: rgb(255, 255, 255);
  height: 80%;
}

ul {
  list-style: none;
}

#checkboxes label {
  float: left;
}

.add {
  border-bottom: 1px solid #dcdcdc;
  padding-left: 2%;
}
input[type="text"] { border: none; }

.container {
  width: 90%;
  margin-left: 3%;
  background-color: rgb(246, 246, 246);
  border-bottom: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  margin-top: 3%;
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  height: 40px;
  border-bottom: 1px solid #dcdcdc;
  padding-top: 15px;
  display: flex;
  position: relative;
}

.fa-trash,
.fa-sync-alt {
  position: absolute;
  right: 2%;
}

.today {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  margin-left: 2%;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#columns {
  list-style-type: none;
}

.column {
  cursor: move;
}

.column.dragElem {
  opacity: 0.4;
}
.column.over {
  border: 2px dashed #000;
  border-top: 2px solid blue;
}

.add_button {
  margin-right: 1.5%;
}

.fa-ellipsis-v {
  position: absolute;
  right: 2%;
}

.add_to_tasks {
  width: 100%;
  height: 40px;
}

form {
  display: flex;
}

.clear {
  text-decoration: none;
  color: black;
}
